$midnightBlue: #00004d;
$clearBlue: #45b0e5;
$mainGray: #cfcfcf;
$darkGray: #444444;
$boteggaGreen: #00cb79;
$darkRed: #990000;
$font-primary: 'Montserrat', Sans-serrif;

html {
    background-color: black;
}

.background {
    width: 100vw;
    height: 100%;
    background-color: black;
}

.backgroundSkew {
    width: 100vw;
    height: 300px;
    background-color: #444444;
    transform: skewY(-7deg); 
    margin-top: 8rem;
    padding-top: -50rem;
}

.backgroundSkew > * {
    transform: skewY(7deg)
}

.backgroundSkew-2 {
    width: 100px;
    height: 100vw;
    background-color: #00004d;
    transform: skewX(60deg);
    margin-left: 85rem;
    margin-top: -35rem;
}

.test-heading{
    text-align: center;
    margin: 20px;
    padding-top: 46px;
    color: white;
    font-weight: 700;
    font-family: $font-primary;
}

.test-subheading{
    margin-bottom: 46px;
    color: $mainGray;
    font-size: 15px;
}

